.header, nav ,.main ,.asidebar,.advertise  ,.footer{
    background-color: purple;
    color:white;
    border-radius: 10px;
    border:2px solid rgb(70, 228, 228);
}
/* , nav ,.main ,.asidebar,.advertise  ,.footer */

.header{
grid-area: header;
}
.nav{
    grid-area: nav;
}

.main{
    grid-area: main;
}

.asidebar{
    grid-area: asidebar;
}

.advertise{
    grid-area: advertise;
}

.footer{
    grid-area: footer;
}