*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border:2px solid red;
    padding:5px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:15px;

    grid-template-rows:repeat(3, 200px) 50px 50px;
}


.box-1{
    grid-row: span 5;
}

.box-11 , .box-12{
    grid-column: span 3;
}




.container div{
    border:2px solid red;
    background-color:navy;
    color:aliceblue;
    font-size: 30px;
}
